.big-lion {
  position: relative;


  &__image {
    margin-left: -15%;
    margin-top: 2%;
    display: block;
    width: 600px;
    height: 550px;
    border: 5px solid transparent;
    border-radius: 10px;
    position: relative;
    z-index: 1;
  }
}
