<nav class="navbar">
  <div class="navbar__brand">
    <a class="navbar__brand__logo" routerLink="/">
      <img [ngSrc]="'public/lion-logo.png'"
           alt="Lion Logo" width="60" height="60"/>

    </a>
  </div>

  <ul class="navbar__links">
    <li class="navbar__links__item">
      <a class="navbar__links__item__link" routerLink="/home">Home</a>
    </li>
    <li class="navbar__links__item">
      <a class="navbar__links__item__link" routerLink="/lions-origin">Lions Origin</a>
    </li>
  </ul>
</nav>
