.navbar {
  background-color: #a13535;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  &__brand {
    &__logo {
      text-decoration: none;

      &__img {
        width: 50px;
        height: 50px;
        display: block;

        &__icon {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    background-color: #a13535;

    &__item {
      background-color: #a13535;

      &__link {
        background-color: #a13535;
        color: #fff;
        text-decoration: none;

        &:hover {
          background-color: #a13535;

          text-decoration: underline;
        }
      }
    }
  }
}
